$treb: 'Trebuchet-regular';
$treb-b: 'Trebuchet-bold';

@mixin clearfix {
	&:after {
		content: '.';
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
	}
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}
}


@mixin adaptive($media) {

	@if $media == media480 {
		@media only screen and (min-width: 480px) and (max-width: 767px) {@content}
	}

	@else if $media == media768 {
		@media only screen and (min-width: 768px) and (max-width: 959px) {@content}
	}

	@else if $media == media960 {
		@media only screen and (min-width: 960px) {@content}
	}
}

@mixin reset-generic {
    margin: 0;
    padding: 0;
}

@mixin reset-button { // для <button>
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

@mixin reset-link { // для <a>
    color: inherit;
    text-decoration: inherit;
}

@mixin reset-input { // для <input>
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

@mixin reset-list { // для <ul>
    list-style: none;
    margin: 0;
    padding: 0;
}
