footer {
	width: 910px;
	height: 100px;
	margin: -100px auto 0;
	position: relative;
	background-color: lightblue;
	
	li {
		display: inline-block;
		list-style: none;
		color: #fff;
	}

	a {
		text-decoration: none;
	}
}