.form-search {
	@include clearfix;
}

.form-search-by-car {
	display: inline-block;
	float: left;
	margin: 11px 0 0 4px;
	width: 413px;
	height: 132px;
	border-radius: 18px 17px 17px 18px/17px;
	background-color: #fff;
	box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	border: solid 1px #9c9c9d;
}

.form-search-tires {
	display: inline-block;
	margin: 10px 0 0 15px;
	width: 191px;
	height: 135px;
	border-radius: 17px/19px;
	background-color: #fff;
	box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	border: solid 1px #9c9c9d;
}

.form-search-wheels {
	display: inline-block;
	margin: 10px 0 0 9px;
	width: 266px;
	height: 134px;
	border-radius: 14px/18px 18px 17px 17px;
	background-color: #fff;
	box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	border: solid 1px #9c9c9d;
}