/*===MAIN GOODS===*/
main {
	float: left;
	@include clearfix;
	font-family: $lucida;
	margin: 13px 0 0 10px;
	padding: 10px 0 0 0;
	width: 526px;
	border-radius: 3px/2px 2px 3px 3px;
	background-color: #fff;
	background-image: linear-gradient(to top, rgba(35,75,93,.49), rgba(201,207,209,.49));
	
	figure {
		display: inline-block;
		margin: 2px 0 11px 23px;
		width: 139px;
		height: 191px;
		text-align: center;

		h6 {
			margin: 1px 1.5px 0 0;
			letter-spacing: .1px;
			font-size: 14.59px;
			
			a {
				color: #206988;
				text-decoration: none;
			}
		}
	}
}

.model {
	font-size: 12.77px;
	color: #1f2528;
}

.amount-goods {
	font-family: $arialbi;
	font-size: 16px;
	color: #114165
}

.img-border {
	width: 137px;
	height: 129px;
	border-radius: 7px;
	background-color: #fff;
	border: solid 1px #a4aeb1;
	margin: 0 auto;

	img {
		padding: 2px 4px 0 0;
	}
}

.uah {
	font-size: 12px;
}
