$arial: 'ArialRegular', sans-serif;
$lucida: 'Lucida Sans Unicode', sans-serif;

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: block;
	}

	&:after {
		clear: both;
	}
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}
}