
/*===PRODUCT-CATALOG===*/
.product-catalog {
	float: left;

	h4 {
		font-family: $lucida;
		margin-top: 17px;
		position: relative;
		text-transform: uppercase;
		color: #114165;
		font-size: 12.73px;
		line-height: 26px;
		padding-left: 28px;
		width: 181px;
		height: 26px;
		border-radius: 12px/12px 12px 13px 13px;
		background-color: #fff;
		box-shadow: 2px 3px 3px rgba(150,150,150,.75);
		border: solid 1px #79878d;
		
		&:before {
			content: '';
			width: 21px;
			height: 22px;
			display: block;
			position: absolute;
			top: .5px;
			left: 3.3px;
			background: url("../img/icon/sprite-circle.png") no-repeat -24px;
			
		}
	}
}

.category  {

	h5 {
		font-family: $lucida;
		position: relative;
		margin-left: 2px;
		width: 150px;
		height: 27.5px;
		border-radius: 11px/13px;
		background-color: #fff;
		border: solid 1px #79878d;
		padding-left: 29px;
		
		a {
			text-decoration: none;
			text-transform: uppercase;
			line-height: 27px;
			color: #114165;
			font-style: 14px;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 3.5px;
			top: 1px;
			width: 23px;
			height: 23px;
			background-image: url("../img/icon/sprite-circle.png");
			background-repeat: no-repeat;
			background-position: 0px;	
		}

		// &:before {
		// 	content: '';
		// 	display: inline-block;
		// 	position: absolute;
		// 	left: 4px;
		// 	top: 2px;
		// 	width: 12px;
		// 	height: 12px;
		// 	border: 5px solid #114165;
		// 	border-radius: 50%;
		// }
	}

	ul {
		display: inline-block;
		margin: 0 0 0 35px;

		li {
			list-style: none;
			padding-left: 1px;
		}
		
		a {
			position: relative;
			color: #465961;
			font-size: 12.73px;
			text-decoration: none;

			// &:before {
			// 	content:'';
			// 	display: inline-block;
			// 	width: 3px;
			// 	height: 3px;
			// 	margin: 0 4px 1px 0;
			// 	border: 2px solid #465961;
			// 	border-radius: 50%;
			// }

			&:before {
				content:'';
				display: inline-block;
				width: 8px;
				height: 8px;
				margin: 0 4px 1px 0;
				background-image: url("../img/icon/sprite-circle-hover.png");
			}

			&:hover {
				color: #0c3256;
				font-family: $arialbi;
				font-size: 14px;
				font-weight: bold-italic;
				transition: .1s all;
			}

			&:hover:after {
				content: '';
				display: inline-block;
				position: absolute;
				top: 15px;
				right: 0;
				width: 91%;
				border-bottom: 2px solid #58697f;
				transition: .1s all;
			}

			&:hover:before {
				background-image: url("../img/icon/sprite-circle-hover.png");
				background-position: -8px;
			}
		}
	}
}

.-tires {
		margin-top: 13.5px;

	li {
			font-family: $lucida;
			padding-top: 3.8px;
			margin-bottom: 3.9px;
		}
	li:last-child {
		margin-bottom: 0;
	}
}

.-wheels {
	margin-top: 2px;

	li {
		font-family: $lucida;
		padding-top: 5px;
		margin-top: 2.5px;
	}

	li:first-child {
		padding-top: 0;
	}
}

.-bolt {
	margin-top: 2.5px;

	li {
		font-family: $lucida;
		padding-top: 4px;
		margin-top: 3.5px;
	}

	li:first-child {
		padding-top: 0;
	}
}



