* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  height: 100%;
}

.substrate-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  min-width: 65rem;
  max-width: 100%;
  color: #162673;
  padding: .5rem;
}

.header .contact-phone {
  font-family: "Trebuchet-bold";
  font-size: 1.18rem;
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-right: 1.2rem;
}

.header .contact-phone .tel {
  color: #061769;
}

.header .contact-icon__email, .header .contact-icon__tube, .header .contact-icon__play, .header .contact-icon__note {
  background: url("../img/nav-icons.png") 0 0 no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-right: .5rem;
}

.header .contact-icon__tube {
  background-position: -34px 0;
}

.header .contact-icon__play {
  background-position: -70px 0;
}

.header .contact-icon__note {
  background-position: -105px 0;
}

.nav {
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: .75rem;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item {
  align-self: flex-start;
  margin-left: 2rem;
}

.nav__item:first-child {
  margin-left: 1rem;
}

.nav__link {
  font-family: "Trebuchet-regular";
  color: #313861;
}

.nav__link:hover {
  color: #95989a;
  transition: .1s all;
}

.nav__link:active {
  color: #981212;
}

.language {
  position: absolute;
  right: 0;
  top: .3rem;
}

.language__ru, .language__eng {
  width: 27px;
  height: 27px;
  display: inline-block;
  background: url("../img/ru-icon.png") no-repeat;
}

.language__eng {
  background: url("../img/en-icon.png") no-repeat;
}

.photo-slider {
  min-width: 100%;
  position: relative;
}

.photo-slider__change {
  position: absolute;
  bottom: .2rem;
  left: 20%;
}

.photo-slider__change--prev, .photo-slider__change--next {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("../img/arrows.png") 0 0 no-repeat;
}

.photo-slider__change--next {
  background-position: -45px 0;
}

.photo-slide {
  background: url("../img/Rectangle 1194.png") top center no-repeat;
  background-size: cover;
  min-height: 12.3rem;
  border-top: .35rem solid #fb7c13;
  border-bottom: .35rem solid #960c0c;
  text-align: center;
  position: relative;
}

.photo-slide:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 15%;
  background: url(../img/bottom-lines.png) no-repeat;
  width: 26rem;
  height: 1.8rem;
}

.portfolio {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4.35rem;
  border-bottom: .37rem solid #fb7c13;
  position: relative;
}

.portfolio:before {
  content: '';
  background: url("../img/bottom-lines.png") center center no-repeat;
  width: 26rem;
  height: 1.8rem;
  position: absolute;
  right: 10%;
  bottom: 0;
}

.portfolio:after {
  content: '';
  background: url("../img/Group 1679.png") center center no-repeat;
  width: 19rem;
  height: 1.75rem;
  position: absolute;
  left: 10%;
  bottom: -1.2rem;
}

.portfolio__title {
  font-size: 1.43rem;
  font-family: "Trebuchet-bold";
  text-transform: uppercase;
  color: #981212;
  border-bottom: 2px solid #fb7c13;
  border-top: 2px solid #fb7c13;
  padding: .5rem 7rem;
  margin-top: 2.75rem;
}

.portfolio__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1.75rem;
  width: 60%;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  max-width: 14.1rem;
  margin-top: 2rem;
}

.portfolio__item-img {
  display: inline-block;
  background: url("../img/Rectangle 1210.png") center center no-repeat;
  background-size: cover;
  max-width: 14.3rem;
  height: 8.7rem;
}

.portfolio__item-date {
  margin-top: .6rem;
  color: #041568;
  font-size: .87rem;
  font-family: "Trebuchet-regular";
}

.portfolio__item-title {
  margin-top: .6rem;
  text-decoration: none;
  color: #fb7c13;
  font-size: 1.125rem;
  font-family: "Trebuchet-regular";
}

.portfolio__item-description {
  margin-top: .4rem;
  color: #041568;
  font-size: .87rem;
  font-family: "Trebuchet-regular";
}

.page-slider {
  display: flex;
  margin-top: 5rem;
  font-size: .75rem;
  font-family: "Trebuchet-regular";
}

.page-slider__pages {
  border: 1px solid #fb7c13;
  color: #041568;
  height: 1.5rem;
  line-height: 1.4rem;
  padding: 0 .5rem;
  align-self: flex-end;
  margin-right: .5rem;
}

.page-slider #page-slider__last-page {
  border: 1px solid #fb7c13;
  color: #041568;
  height: 1.5rem;
  line-height: 1.4rem;
  padding: 0 .5rem;
  align-self: flex-end;
  margin-right: .5rem;
}

.page-slider #page-slider__last-page:after {
  content: '';
  display: inline-block;
  background: url("../img/slide-arrow.png") center center no-repeat;
  width: .87rem;
  height: .5rem;
  padding-right: .5rem;
}

.page-slider__list {
  display: flex;
}

.page-slider__item {
  border: 1px solid #fb7c13;
  height: 1.6rem;
  width: 1.6rem;
  text-align: center;
  margin-right: .5rem;
  line-height: 1.5rem;
}

.page-slider__item--active {
  background-color: #960c0c;
  color: #fff !important;
  border: none;
  line-height: 1.7rem;
}

.page-slider__link {
  color: #041568;
}

.page-slider__link--active {
  color: #fff;
}

.page-slider__link--arrow {
  display: inline-block;
  background: url("../img/slide-arrow.png") center center no-repeat;
  width: .87rem;
  height: .5rem;
}

.substrate-contacts {
  font-family: "Trebuchet-bold";
  font-weight: 300;
  background: url("../img/bottom-photo.png") top center no-repeat;
  width: 100%;
  height: 26.5rem;
  margin: 1rem 0 3.7rem;
  display: flex;
  justify-content: center;
}

.contacts {
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.contacts__title {
  font-size: 1.46rem;
  margin-top: 1rem;
  color: #9c3133;
  text-transform: uppercase;
  display: inline-block;
  padding: .5rem 7rem;
  border-top: 2px solid #fb7c13;
  border-bottom: 2px solid #fb7c13;
}

.contacts__question {
  margin-top: 1.4rem;
  font-size: 1.43rem;
  text-transform: uppercase;
  color: #041568;
}

.contacts-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 1.5rem;
}

.contacts-content__map {
  width: 19rem;
  height: 15rem;
  outline: 1px solid blue;
}

.contacts-content__form {
  display: flex;
  flex-direction: column;
}

.contacts-content__address {
  font-size: 1.18rem;
  min-width: 19rem;
  display: flex;
  flex-direction: column;
}

.qr-address {
  color: #041568;
}

.qr-address__place {
  display: flex;
  flex-direction: column;
}

.qr-address__email {
  white-space: pre-line;
}

.qr-address__phone {
  white-space: pre-line;
  color: #041568;
}

.qr-address__phone .tel {
  color: #041568;
}

.qr-address__requisites {
  white-space: pre-line;
  display: flex;
  align-items: center;
}

.qr-address__requisites-ico {
  margin: 1.2rem 0 0 1.5rem;
  display: inline-block;
  background: url("../img/contact-icon.png") no-repeat;
  width: 27px;
  height: 27px;
}

.qr-address .download {
  color: #041568;
}

.contacts-form {
  width: 15rem;
}

.contacts-form__input {
  font-family: "Trebuchet-regular";
  height: 2.6rem;
  margin-bottom: .3rem;
  padding: .3rem;
  color: #0d1e6d;
}

.contacts-form__input::-webkit-input-placeholder {
  color: #0d1e6d;
}

.contacts-form__input:-moz-placeholder {
  color: #0d1e6d;
}

.contacts-form__input::-moz-placeholder {
  color: #0d1e6d;
}

.contacts-form__input:-ms-input-placeholder {
  color: #0d1e6d;
}

.contacts-form__question {
  font-family: "Trebuchet-regular";
  height: 5.25rem;
  resize: none;
  outline: none;
  padding: .3rem;
  color: #0d1e6d;
}

.contacts-form__question::-webkit-input-placeholder {
  color: #0d1e6d;
}

.contacts-form__question:-moz-placeholder {
  color: #0d1e6d;
}

.contacts-form__question::-moz-placeholder {
  color: #0d1e6d;
}

.contacts-form__question:-ms-input-placeholder {
  color: #0d1e6d;
}

.contacts-form__submit {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-family: "Trebuchet-regular";
  height: 2.56rem;
  color: #fff;
  background-color: #960c0c;
  cursor: pointer;
}

.contacts-form__submit:hover {
  background-color: #fb7c13;
  transition: .2s all;
}

.substrate-footer {
  font-family: "Trebuchet-regular";
  font-weight: 300;
  background-color: #fb7c13;
  display: flex;
  justify-content: center;
  min-height: 7.5rem;
  border-bottom: .3rem solid #960c0c;
}

.footer {
  display: flex;
  flex-flow: column-wrap;
  justify-content: space-around;
  width: 65%;
}

.footer__list {
  margin-top: .4rem;
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  height: 6rem;
  text-transform: uppercase;
  font-size: .87rem;
}

.footer__link {
  color: #fff;
  line-height: 1.5rem;
}

.footer__phone {
  color: #fff;
  font-weight: 600;
  font-size: 1.18rem;
  max-width: 10rem;
  margin-top: .7rem;
  margin-right: .3rem;
  text-align: right;
  align-self: flex-end;
}

.footer__phone .tel {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.footer__copy {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  margin-top: 1.7rem;
  font-size: .8rem;
}

.substrate-phone-copy {
  display: flex;
  flex-direction: column;
}

.search {
  max-width: 14.5rem;
  margin-top: .6rem;
  position: relative;
}

.search__input {
  width: 100%;
  height: 1.8rem;
  outline: none;
  padding: .6rem 1.8rem .6rem .93rem;
}

.search__input::-webkit-input-placeholder {
  color: #fb7f18;
}

.search__input:-moz-placeholder {
  color: #fb7f18;
}

.search__input::-moz-placeholder {
  color: #fb7f18;
}

.search__input:-ms-input-placeholder {
  color: #fb7f18;
}

.search__submit {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  font-size: 0;
  width: 1.8rem;
  height: 1.8rem;
  background: url("../img/lupe.png") center center no-repeat;
  background-color: #960c0c;
  outline: none;
  cursor: pointer;
}

.social {
  margin-top: .6rem;
  margin-left: .3rem;
}

.social__vk, .social__fb, .social__google-plus, .social__email, .social__tw {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/social-icons.png") no-repeat;
}

.social__fb {
  background-position: -30px 0;
}

.social__google-plus {
  background-position: -60px 0;
}

.social__email {
  background-position: -90px 0;
}

.social__tw {
  background-position: -120px 0;
}
