* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #d6eaff;
  font-family: sans-serif;
  width: 100%;
}

.wrapper {
  height: 100vh;
  display: flex;
  padding: 2rem;
}

.slider-substrate {
  width: 35%;
  display: inline-block;
}

.select-substrate {
  margin-left: 1rem;
}

.dropdown {
  width: 15rem;
}

.menu {
  margin: 10rem 0 0 1rem;
}

.menu__item {
  width: 10rem;
  text-align: center;
  background-color: #262626;
  position: relative;
  font-size: 1.4rem;
  border-bottom: 1px solid transparent;
  border-left: 4px solid #5f8603;
}

.menu__item:hover {
  border-bottom: 1px solid #1d6ba5;
}

.menu__link {
  line-height: 2rem;
  color: #ababab;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #2a364b;
}

.menu__link:hover {
  border-bottom: 1px solid #1d6ba5;
  background-color: #2e2e2e;
}

.drop-menu {
  display: none;
  position: absolute;
  right: -100%;
  top: 0;
}

.drop-menu__item {
  background-color: #171717;
  width: 10rem;
  border-bottom: 2px solid #485100;
}

.drop-menu__item:hover {
  border-bottom: 2px solid #2a364b;
}

.drop-menu__link {
  color: #a9a9a9;
  line-height: 2rem;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.drop-menu__link:hover {
  border-bottom: 2px solid #2a364b;
  background-color: #772a2a;
  color: #fff;
}

label {
  cursor: pointer;
  font-size: 2rem;
}

label input {
  display: none;
}

label input:checked + .checkBox {
  background-color: green;
}

label input:checked + .checkBox:after {
  left: 49px;
}

label .checkBox {
  margin-left: 3rem;
  float: left;
  position: relative;
  display: block;
  width: 100px;
  height: 50px;
  background-color: red;
  border-radius: 50px;
  margin-right: 20px;
  transition: background-color .2s ease-in-out;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

label .checkBox:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 96%;
  background-color: #fff;
  border-radius: 50%;
  left: 1px;
  top: 2%;
  transition: left .2s ease-in-out;
  box-shadow: inset 5px -5px 15px 5px rgba(0, 0, 0, 0.2);
}
