.substrate-contacts {
  font-family: $treb-b;
  font-weight: 300;
  background: url("../img/bottom-photo.png") top center no-repeat;
  width: 100%;
  height: 26.5rem;
  margin: 2.3rem 0 3.7rem;
  display: flex;
  justify-content: center;
}

.contacts {
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  &__title {
    font-size: 1.46rem;
    margin-top: 1rem;
    color: #9c3133;
    text-transform: uppercase;
    display: inline-block;
    padding: .5rem 7rem;
    border-top: 2px solid #fb7c13;
    border-bottom: 2px solid #fb7c13;
  }

  &__question {
    margin-top: 1.4rem;
    font-size: 1.43rem;
    text-transform: uppercase;
    color: #041568;
  }
}

.contacts-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 1.5rem;

  &__map {
    width: 19rem;
    height: 15rem;
    outline: 1px solid blue;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__address {
    font-size: 1.18rem;
    min-width: 19rem;
    display: flex;
    flex-direction: column;
  }
}

.qr-address {
  color: #041568;

  &__place {
    display: flex;
    flex-direction: column;
  }

  &__email {
    white-space: pre-line;
  }

  &__phone {
    white-space: pre-line;
    color: #041568;

    .tel {
      color: #041568;
    }
  }

  &__requisites {
    white-space: pre-line;
    display: flex;
    align-items: center;

    &-ico {
      margin: 1.2rem 0 0 1.5rem;
      display: inline-block;
      background: url("../img/contact-icon.png") no-repeat;
      width: 27px;
      height: 27px;
    }
  }
  .download {
    color: #041568;
  }
}

.contacts-form {
  width: 15rem;

  &__input {
    font-family: $treb;
    height: 2.6rem;
    margin-bottom: .3rem;
    padding: .3rem;
    @include placecolor($color:#0d1e6d);
    color: #0d1e6d;
  }

  &__question {
    font-family: $treb;
    height: 5.25rem;
    resize: none;
    outline: none;
    padding: .3rem;
    @include placecolor($color:#0d1e6d);
    color: #0d1e6d;
  }

  &__submit {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    font-family: $treb;
    height: 2.56rem;
    color: #fff;
    background-color: #960c0c;
    cursor: pointer;

    &:hover {
      background-color: #fb7c13;
      transition: .2s all;
    }
  }
}
