body {
	background-color: #f9f9f9;
	font-family: 'open_sansregular', sans-serif;
	font-size: 13.33px;	
}
.wrapper {
	width: 966px;
	margin: 0 auto;
	background-color: #fff;
	padding: 50px 48px 60px 46px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
	/*===HEADER===CONTAINER===FOOTER===*/
.container::after {
    content: '';
    display: block;
    clear: both;
 }
footer {
	position: relative;
	height: 40px;
}
.logo a {
	width: 144px;
	display: block;
	font-size: 45px;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 40px;
	color: #000;
}
/*===HEADER-MENU===*/
.header-menu {
	height: 40px;
	background: linear-gradient(#5e5e5e, #444343);
	font-size: 0;
}
.header-menu ul > li {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 63px;
	width: 100px;
}
.header-menu ul a {
	display: block;
	line-height: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	text-decoration: none;
	text-align: center;
	font-size: 14.67px;
	color: #fff;
}
.header-menu ul a:hover {
	cursor: pointer;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
	background: linear-gradient(#4a4a4a, #2e2e2e);
}
	/*===CONTAINER===LEFT-MENU===*/
.left-menu {
	float: left;
	width: 240px;
	border-top: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	background-color: white;
	margin-top: 40px;
}
.left-menu > ul > li > a{
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #c8c8c8;
	padding-left: 24px;
	line-height: 40px;
	color: #656363;
}
.left-menu > ul > li > a:hover {
	color: black;
	background-color: #f9f9f9;
	padding-left: 36px;
}
	/*===CONTENT & IMAGE===*/
.content {
	float: right;
	width: 678px;
}
.goods {
	box-sizing: border-box;
	border: 1px solid #c8c8c8;
	text-align: center;
	padding-top: 47px;
	margin-top: 40px;
	width: 678px;
	height: 400px;
}
.content p {
	display: inline-block;
	margin: 40px 25px 0;
	line-height: 15px;
}
	/*===FOOTER-MENU===*/
footer {
	margin-top: 63px;
	background-color: #e1e1e1;
}
footer::after {
    content: '';
    display: block;
    clear: both;
 }
.footer-menu {
	float: left;
	background-color: #e1e1e1;
	font-size: 0;
}
.footer-menu ul > li {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 63px;
	width: 100px;
}
.footer-menu ul a {
	display: block;
	text-decoration: none;
	line-height: 40px;
	font-size: 13.33px;
	text-align: center;
	color: #2c2c2c;
}
.footer-menu ul a:hover {
	cursor: pointer;
	text-decoration: underline;
}
.copyright {
	float: right;
	margin: 16px 25px 0 0;
}