@font-face {
  font-family: MontReg;
  src: url('../fonts/Montserrat-Regular.ttf')
}

@font-face {
  font-family: MontBold;
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf')
}

@font-face {
  font-family: RobBlack;
  src: url('../fonts/Roboto-Black.ttf')
}

@font-face {
  font-family: RobBlackItal;
  src: url('../fonts/Roboto-BlackItalic.ttf')
}

@font-face {
  font-family: RobBold;
  src: url('../fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: RobBoldItal;
  src: url('../fonts/Roboto-BoldItalic.ttf')
}

@font-face {
  font-family: RobItal;
  src: url('../fonts/Roboto-Italic.ttf')
}

@font-face {
  font-family: RobLight;
  src: url('../fonts/Roboto-Light.ttf')
}

@font-face {
  font-family: RobLightItal;
  src: url('../fonts/Roboto-LightItalic.ttf')
}

@font-face {
  font-family: RobMed;
  src: url('../fonts/Roboto-Medium.ttf')
}

@font-face {
  font-family: RobMedItal;
  src: url('../fonts/Roboto-MediumItalic.ttf')
}

@font-face {
  font-family: RobReg;
  src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: RobThin;
  src: url('../fonts/Roboto-Thin.ttf')
}

@font-face {
  font-family: RobThinItal;
  src: url('../fonts/Roboto-ThinItalic.ttf')
}