//==========MIXINS FOR SCREEN

$phone: 480;
$tablet-landscape: 668;
$desktop: 959;

@mixin media($from, $to) {
  @media screen and (min-width: $from + 0px) and (max-width: $to +0px) {
    @content;
  }
}

// generic mixin for screen width (max only)
@mixin media-min($width) {
  @media screen and (min-width: $width + 0px) {
    @content;
  }
}

// mixins for required sizes
@mixin media-m {
  @include media-min($desktop) {
    @content;
  }
}

@mixin media-s {
  @include media-min($tablet-landscape) {
    @content;
  }
}

@mixin media-xs {
  @include media-min($phone) {
    @content;
  }
}