@import "constants";

.slider-substrate {
  width: 100%;
  li {
    position: relative;
    .text-wrapper {
      position: absolute;
      background-color: $header-color;
      padding: rem(10) rem(20);
      bottom: 15%;
      left: 15%;
      color: #fff;
      max-width: 45%;
      .bold {
        font-family: 'DemiBold', sans-serif;
        padding: 0;
        margin: 0;
        font-size: rem(35);
        line-height: rem(40);
        text-transform: uppercase;
      }
      .text.italic {
        padding: 0;
        margin: 0;
        font-family: 'Oswald-RegularItalic', sans-serif;
        font-size: rem(35);
        line-height: rem(40);
        text-transform: uppercase;
      }
    } 
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .slider-substrate {
    li {
      .text-wrapper {
        bottom: 15%;
        left: 10%;
        padding: rem(8) rem(15);
        .bold {
          line-height: rem(36);
          font-size: rem(28);
        }
        .text.italic {
          line-height: rem(36);
          font-size: rem(28);
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .slider-substrate {
    li {
      .text-wrapper {
        bottom: 15%;
        left: 10%;
        padding: rem(8) rem(15);
        .bold {
          font-size: rem(22);
          line-height: rem(28);
        }
        .text.italic {
          font-size: rem(22);
          line-height: rem(28);
        }
      }
    }
  }
}