@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

$header-bg: #e4f6fb;
$header-color: #272b74;
$header-text-hover: #d45231;
$puzzle-border: #7fd4ee;