@import "constants";

@keyframes scaledown {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: rem(5) rem(5) rem(50) rem(5) rgba(0,0,0, .2);
  }
}


.header-wrapper {
  color: $header-color;
  min-height: 100vh;
  border: 1px solid black;
  width: 100%;
  max-width: rem(1400);
  .text-title-mobile, .text-hover-mobile {
    display: none;
  }
  .puzzles-wrapper {
    background: #fff;
    min-height: calc(100% - 70px);
    padding: rem(20) rem(40) rem(100) rem(40);
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      min-height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../img/adventure.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      background-attachment: fixed;
      opacity: .8;
      z-index: 0;
    }
  }
  .taglogs {
    font-size: rem(50);
    position: absolute;
    bottom: 25%;
    z-index: 9;
    width: 40%;
    .text {
      display: inline-block;
      width: 100%;
      text-align: right;
      font-family: 'Oswald-Light', sans-serif;
      background: rgba(#272b74, .5);
      color: #fff;
      padding: 5px 15px;
    }
  }
  .more-about {
    display: block;
    font-size: rem(50);
    font-family: 'Oswald-Light', sans-serif;
    color: #272b74;
    text-align: center;
    position: relative;
    padding: rem(20);
    padding-bottom: 0;
  }
  .puzzles {
    display: flex;
    justify-content: center;
    a {
      color: $header-color;
    }
    .item {
      width: 25%;
      height: 25%;
      position: relative;
      border: rem(1) solid #81d5ee;
      border-left: none;
      -webkit-animation: scaledown .4s ease;
      animation: scaledown .4s ease;
      animation-fill-mode: forwards;
      transform-origin: 50% 50%;
      box-shadow: 0px 0px 5px  rgba(0,0,0, .2);
      cursor: pointer;
      .text-hover {
        display: none;
      }
      .circle-bottom {
        box-shadow: 1px 1px 5px  rgba(0,0,0, .2);
      }
      &:hover {
        z-index: 100;
        -webkit-animation: scale .4s ease;
        animation: scale .4s ease;
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
        border: none;
        .circle-right {
          border: none;
          box-shadow: rem(5) rem(5) rem(50) rem(5) rgba(0,0,0, .2);
        }
        .circle-left {
          border: none;
          box-shadow: rem(5) rem(5) rem(50) rem(5) rgba(0,0,0, .2);
        }
        .circle-bottom {
          border: none;
          box-shadow: rem(5) rem(5) rem(50) rem(5) rgba(0,0,0, .2);
        }
        .text-hover {
          font-family: 'Oswald-RegularItalic', sans-serif;      
          display: inline-block;
          background: #83D5EE;
          padding: rem(10) rem(20) rem(20) rem(20);
          font-size: rem(16);
          position: absolute;
          width: 100%;
          min-height: rem(150);
          max-height: rem(250);
          overflow: hidden;
          top: 98%;
          left: 0;
          box-shadow: rem(25) rem(40) rem(50) rem(-20) rgba(0,0,0, .2);
        }
        .arrows {
          display: none;
        }
      }
      .arrows {
        position: absolute;
        color: #fff;
        bottom: rem(-10);
        left: 50%;
        font-size: rem(24);
        font-weight: bold;
        transform: translateX(-50%);
        cursor: pointer;
        padding: rem(10);
      }
      .puzzle {
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(206,238,248,1) 23%, rgba(129,213,238,1) 100%);
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: rem(20);
        font-family: 'Oswald-Medium', sans-serif;
        &__image {
          width: 100%;
          height: rem(150);
          object-fit: cover;
        }
        .block-text{
          margin-top: rem(5);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: rem(55);
          .text {
            font-size: rem(14);
          }
          .text-up {
            font-size: rem(24);
          }
        }
      }
      .circle-right {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: rem(1) solid #81d5ee;
        background: linear-gradient(to bottom, rgba(190,233,246,1) 0%, rgba(169,227,244,1) 100%);
        border-radius: 45%;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
      .circle-left {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: rem(1) solid #81d5ee;
        background: linear-gradient(to bottom, rgba(190,233,246,1) 0%, rgba(169,227,244,1) 100%);
        border-radius: 45%;
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
      .circle-bottom {
        display: inline-block;
        width: 100px;
        height: 100px;
        background: #81d5ee;
        border-radius: 45%;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        border: rem(1) solid #81d5ee;
      }
    }
    .item-1 {
      z-index: 4;
    }
    .item-2 {
      z-index: 1;
      &:hover:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 90px;
        background: rgba(237,237,237,.3);
        border-top-right-radius: 5000%;
        border-bottom-right-radius: 5000%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      &:hover:before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 90px;
        background: rgba(237,237,237,.3);
        border-top-left-radius: 5000%;
        border-bottom-left-radius: 5000%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
    }
    .item-3 {
      z-index: 2;
    }
    .item-4 {
      z-index: 1;
      &:hover:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 90px;
        background: rgba(237,237,237,.3);
        border-top-right-radius: 5000%;
        border-bottom-right-radius: 5000%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
    }
  }
}
.header {
  background: $header-bg;
  padding: rem(10) rem(20);
  display: flex;
  align-items: center;
  color: $header-color;
  font-size: rem(18);
  text-transform: uppercase;
  z-index: 999;
  .logo {
    &__link {
      display: flex;
      width: rem(200);
      height: rem(50);
      position: relative;
    }
    &__icon {
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }
  }
  .list {
    padding-left: rem(50);
    margin-left: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald-Medium', sans-serif;
    font-size: rem(18);
    .list__link {
      color: $header-color;      
      cursor: pointer;
    }
    .list__link:focus {
      color: $header-color;
    }
    .list__link:visited {
      color: $header-color;
    }
    &__item {
      .list__link:hover {
        color: $header-text-hover;
      }
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: rem(1400);
  height: rem(50);
  z-index: 99999;
  .logo {
    &__link {
      width: rem(150);
      height: rem(35);
    }
  }
}

.header-fixed + .puzzles-wrapper {
  margin-top: rem(70);
}

//320 // 480 768 980 1200 1400 1600 - norm

@media (min-width: 980px) and (max-width: 1100px) {
  .header-wrapper {
    .puzzles {
      .item {
        .circle-right {
          width: 80px;
          height: 80px;
          right: -30px;
        }
        .circle-left {
          width: 80px;
          height: 80px;
          left: -30px;
        }
        .circle-bottom {
          width: 80px;
          height: 80px;
          bottom: -30px;
        }
        .puzzle {
          .block-text {
            .text {
              font-size: rem(14);
            }
            .text-up {
              font-size: rem(22);
            }
          }
        }
      }
      .item-2 {
        &:hover:after {
          width: 30px;
          height: 70px;
          left: 0;
          top: 50%;
        }
        &:hover:before {
          width: 30px;
          height: 70px;
          right: 0;
          top: 50%;
        }
      }
    }
    .taglogs {
      width: 60%;
    }
  }
}


@media (min-width: 768px) and (max-width: 979px) {
  .header-wrapper {
    .more-about {
      font-size: rem(42);
    }
    .puzzles {
      flex-wrap: wrap;
      .item-1 {
        .circle-bottom {
          box-shadow: none;
        }
      }
      .item-2 {
        z-index: 2;
        .circle-bottom {
          box-shadow: none;
        }
      }
      .item-1, .item-2, .item-3, .item-4 {
        &:hover {
          &:after {
            display: none;
          }
          &:before {
            display: none;
          }
        }
      }
      .item {
        width: 50%;
        height: 50%;
        box-shadow: none;
        border: none;
        border-right: rem(1) solid #81d5ee;
        -webkit-animation: none;
        animation: none;
        animation-fill-mode: none;
        transform-origin: none;
        &:hover {
          -webkit-animation: none;
          animation: none;
          animation-fill-mode: none;
          transform-origin: none;
          .text-hover {
            padding: rem(10) rem(20) rem(20) rem(20);
            font-size: rem(16);
            text-align: center;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: none;
          }
          .circle-right, .circle-left, .circle-bottom {
            display: none;
          }
        }
        .circle-right {
          width: 80px;
          height: 80px;
          right: -30px;
        }
        .circle-left {
          width: 80px;
          height: 80px;
          left: -30px;
        }
        .circle-bottom {
          width: 80px;
          height: 80px;
          bottom: -30px;
        }
        .puzzle {
          .block-text {
            .text {
              font-size: rem(14);
            }
            .text-up {
              font-size: rem(22);
            }
          }
        }
      }
      .item-2 {
        &:hover:after {
          width: 30px;
          height: 70px;
          left: 0;
          top: 50%;
        }
        &:hover:before {
          width: 30px;
          height: 70px;
          right: 0;
          top: 50%;
        }
      }
    }
    .taglogs {
      display: none;
    }
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .header-fixed {
    height: auto;
    padding: rem(5) rem(20);
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 100%;
      cursor: pointer;
      position: relative;
      &__link {
        width: 100%;
        cursor: pointer;
      }
      &__icon {
        width: 100%;
      }
    }
    .list {
      padding: 0;
      margin: 0;
      margin-left: 0;
      margin-top: rem(5);
      display: flex;
      width: 100%;
    }
  }
  .header-wrapper {
    .more-about {
      font-size: rem(36);
    }
    .puzzles-wrapper {
      padding-left: rem(10);
      padding-right: rem(10);
    }
    .puzzles {
      flex-wrap: wrap;
      .item-1 {
        .circle-bottom {
          box-shadow: none;
        }
      }
      .item-2 {
        z-index: 2;
        .circle-bottom {
          box-shadow: none;
        }
      }
      .item-1, .item-2, .item-3, .item-4 {
        &:hover {
          &:after {
            display: none;
          }
          &:before {
            display: none;
          }
        }
      }
      .item {
        width: 50%;
        height: 50%;
        box-shadow: none;
        border: none;
        border-right: rem(1) solid #81d5ee;
        -webkit-animation: none;
        animation: none;
        animation-fill-mode: none;
        transform-origin: none;
        &:hover {
          -webkit-animation: none;
          animation: none;
          animation-fill-mode: none;
          transform-origin: none;
          .text-hover {
            padding: rem(10) rem(20) rem(20) rem(20);
            font-size: rem(16);
            text-align: center;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: none;
          }
          .circle-right, .circle-left, .circle-bottom {
            display: none;
          }
        }
        .circle-right {
          width: 80px;
          height: 80px;
          right: -30px;
        }
        .circle-left {
          display: none;
        }
        .circle-bottom {
          width: 80px;
          height: 80px;
          bottom: -30px;
        }
        .puzzle {
          .block-text {
            .text {
              font-size: rem(14);
            }
            .text-up {
              font-size: rem(22);
            }
          }
        }
      }
      .item-2 {
        &:hover:after {
          width: 30px;
          height: 70px;
          left: 0;
          top: 50%;
        }
        &:hover:before {
          width: 30px;
          height: 70px;
          right: 0;
          top: 50%;
        }
      }
    }
    .taglogs {
      display: none;
    }
  }
}


@media (min-width: 320px) and (max-width: 479px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    .logo {
      width: 100%;
      display: flex;
      &__link {
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      &__icon {
        width: 50%;
      }
    }
    .list {
      padding: 0;
      margin: 0;
      margin-left: 0;
      display: flex;
      width: 100%;
      font-size: rem(18);
      .list__link {
        font-size: rem(16);
      }
    }
  }
  .header-fixed {
    height: auto;
    padding: rem(5) rem(10);
    .logo__icon {
      width: 40%;
    }
    .list {
      margin-top: 0;
    }
  }
  .header-wrapper {
    min-height: auto;
    .more-about {
      font-size: rem(36);
    }
    .puzzles-wrapper {
      padding: rem(20) rem(10) rem(70) rem(10);
    }
    .puzzles {
      flex-wrap: wrap;
      flex-direction: column;
      .item-1 {
        .circle-bottom {
          box-shadow: none;
        }
      }
      .item-2 {
        z-index: 3;
        .circle-bottom {
          box-shadow: none;
        }
      }
      .item-1, .item-2, .item-3, .item-4 {
        &:hover {
          &:after {
            display: none;
          }
          &:before {
            display: none;
          }
        }
      }
      .item {
        width: 100%;
        height: 50%;
        box-shadow: none;
        border: none;
        border-right: rem(1) solid #81d5ee;
        -webkit-animation: none;
        animation: none;
        animation-fill-mode: none;
        transform-origin: none;
        &:hover {
          -webkit-animation: none;
          animation: none;
          animation-fill-mode: none;
          transform-origin: none;
          .text-hover {
            padding: rem(10) rem(20) rem(20) rem(20);
            font-size: rem(16);
            text-align: center;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: none;
          }
          .circle-right, .circle-left, .circle-bottom {
            display: none;
          }
        }
        .circle-right {
          display: none;
        }
        .circle-left {
          display: none;
        }
        .circle-bottom {
          width: 80px;
          height: 80px;
          bottom: -30px;
        }
        .puzzle {
          .block-text {
            .text {
              font-size: rem(14);
            }
            .text-up {
              font-size: rem(22);
            }
          }
        }
      }
      .item-2 {
        &:hover:after {
          width: 30px;
          height: 70px;
          left: 0;
          top: 50%;
        }
        &:hover:before {
          width: 30px;
          height: 70px;
          right: 0;
          top: 50%;
        }
      }
    }
    .taglogs {
      display: none;
    }
  }
}


@media (min-width: 320px) and (max-width: 978px) {
  .header-wrapper {
    .text-title-mobile {
      display: block;
      font-family: 'Oswald-Medium', sans-serif;
    }
    .text-hover-mobile{
      display: block;
      position: absolute;
      color: #fff;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: rem(18);
      padding: rem(5) rem(10);
      cursor: pointer;
    }
  }
}