@import "constants";

.patners-substrate {
  width: 100%;
  max-width: rem(1400);
  min-height: rem(600);
  background-image: url("../img/boys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: rem(40) rem(20);
  display: flex;
  justify-content: flex-end;
  .block-text {
    width: 50%;
    min-height: 100%;
    background-color: rgba(255,255,255, .4);
    color: $header-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(30) rem(20);
    font-size: rem(24);
    overflow: auto;
    .text-item {
      margin-bottom: rem(30);
      span {
        font-family: 'Oswald-Light', sans-serif;
      }
      .bold {
        font-weight: normal;
        font-family: 'Oswald-RegularItalic', sans-serif;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .patners-substrate {
    .block-text {
      font-size: rem(18);
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .patners-substrate {
    .block-text {
      font-size: rem(18);
      width: 80%;
    }
  }
}