@import "constants";

.services-content {
  padding: rem(40);
  .title-substrate {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .title {
    margin: 0;
    padding: 0;
    width: 60%;
    text-align: center;
    font-size: rem(38);
    font-family: 'DemiBold', sans-serif;
  }
  .content {
    margin-top: rem(20);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &__item {
      display: flex;
      align-items: center;
      width: 50%;
      height: rem(150);
      margin-bottom: rem(40);
      position: relative;
      z-index: -10;
      .ico-block {
        border: rem(4) solid $puzzle-border;
        width: rem(150);
        height: rem(150);
        position: relative;
        background: #fff;
        z-index: -1;
        .icon-svg {
          padding: rem(8);
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 2;
          background: #fff;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: -20%;
          transform: translateY(-50%);
          width: rem(40);
          height: rem(40);
          z-index: 1;
          border: rem(4) solid $puzzle-border;
          background-color: #fff;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
        &:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -20%;
          transform: translateX(-50%);
          width: rem(40);
          height: rem(40);
          z-index: 1;
          border: rem(4) solid $puzzle-border;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
          background-color: #fff;
        }
      }
      .text-block {
        width: 65%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Oswald-RegularItalic', sans-serif;
        .bigger {
          width: 75%;
          font-size: rem(28);
        }
        .less {
          width: 75%;
          font-size: rem(22);
        }
      }
    }
  }
}