@import "constants";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	// font-family: 'Ubuntu-M';
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: relative;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes aroundCircle {
  0% {
    transform: rotate(0deg);
	}
	15% {
    transform: rotate(-20deg);
	}
	25% {
    transform: rotate(-40deg);
	}
	35% {
    transform: rotate(-20deg);
	}
	50% {
    transform: rotate(0deg);
	}
	65% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(40deg);
	}
	85% {
    transform: rotate(20deg);
	}
	100% {
    transform: rotate(0deg);
  }
}

@keyframes redPulse {
  0% {
		box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
		width: rem(60);
		height: rem(60);
	}
	15% {
		box-shadow: 0 0 10px 8px rgba(218, 94, 49, .15);
		width: rem(59);
		height: rem(59);
	}
	30% {
		box-shadow: 0 0 15px 10px rgba(218, 94, 49, .2);
		width: rem(58);
		height: rem(58);
	}
  45% {
		box-shadow: 0 0 18px 12px rgba(218, 94, 49, .3);
		width: rem(58);
		height: rem(58);
	}
	60% {
		box-shadow: 0 0 15px 10px rgba(218, 94, 49, .2);
		width: rem(58);
		height: rem(58);
	}
	82% {
		box-shadow: 0 0 10px 8px rgba(218, 94, 49, .15);
		width: rem(59);
		height: rem(59);
	}
	100% {
		box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
		width: rem(60);
		height: rem(60);
  }
}


#phone-click {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

#phone-btn {
	width: rem(60);
	height: rem(60);
	position: fixed;
	bottom: rem(20);
	right: 2%;
	border-radius: 50%;
	animation: redPulse 2s linear infinite;
	box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
	opacity: 1;
	z-index: 9999999;
	&:hover {
		cursor: pointer;
		animation: aroundCircle 1s linear infinite;
	}
	.phone-ico {
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}

#arrow-btn {
  display: none;
	width: rem(60);
	height: rem(60);
	position: fixed;
  bottom: rem(100);
  cursor: pointer;
	right: 2%;
	border-radius: 50%;
	box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
	z-index: 99999;
	opacity: .8;
	.arrow-ico {
		width: 100%;
		height: 100%;
		cursor: pointer;
  }
  #arrow-click {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
	#phone-btn {
		animation: none;
		width: rem(50);
		height: rem(50);
		&:hover {
			animation: none;
		}
		.phone-ico {
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
	}
	#arrow-btn {
		width: rem(50);
		height: rem(50);
		bottom: rem(80);
	}
}



//for arrow
.more-about {
	.container {
		background: #fff;
		text-align: center;
	}

	/* Arrow & Hover Animation */
	#more-arrows {
		width: 75px;
		height: 75px;
		&:hover {
			
			polygon {
				fill: #000;
				transition: all .2s ease-out;
	
				&.arrow-bottom {
					transform: translateY(-18px);
				}
	
				&.arrow-top {
					transform: translateY(18px);
				}
				
			}
		
		}
		
	}
	
	polygon {
		fill: #000;
		transition: all .2s ease-out;
			
		&.arrow-middle {
			opacity: 0.75;
		}
	
		&.arrow-top {
			opacity: 0.5
		}
		 
	}
}