@import "constants";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	// font-family: 'Ubuntu-M';
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: relative;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes aroundCircle {
  0% {
    transform: rotate(0deg);
	}
	15% {
    transform: rotate(-20deg);
	}
	25% {
    transform: rotate(-40deg);
	}
	35% {
    transform: rotate(-20deg);
	}
	50% {
    transform: rotate(0deg);
	}
	65% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(40deg);
	}
	85% {
    transform: rotate(20deg);
	}
	100% {
    transform: rotate(0deg);
  }
}

@keyframes redPulse {
  0% {
		box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
		width: rem(80);
		height: rem(80);
	}
	15% {
		box-shadow: 0 0 10px 8px rgba(218, 94, 49, .15);
		width: rem(79);
		height: rem(79);
	}
	30% {
		box-shadow: 0 0 15px 10px rgba(218, 94, 49, .2);
		width: rem(78);
		height: rem(78);
	}
  45% {
		box-shadow: 0 0 18px 12px rgba(218, 94, 49, .3);
		width: rem(76);
		height: rem(76);
	}
	60% {
		box-shadow: 0 0 15px 10px rgba(218, 94, 49, .2);
		width: rem(78);
		height: rem(78);
	}
	82% {
		box-shadow: 0 0 10px 8px rgba(218, 94, 49, .15);
		width: rem(79);
		height: rem(79);
	}
	100% {
		box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
		width: rem(80);
		height: rem(80);
  }
}

#phone-btn {
	width: rem(80);
	height: rem(80);
	position: fixed;
	bottom: rem(50);
	right: 5%;
	border-radius: 50%;
	animation: redPulse 1.3s linear infinite;
	box-shadow: 0 0 5px 2px rgba(218, 94, 49, .09);
	&:hover {
		cursor: pointer;
		animation: aroundCircle 1s linear infinite;
	}
	.phone-ico {
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}

#phone-click {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}