@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../fonts/LeagueGothicRegular/LeagueGothicRegular.eot');
	src: url('../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LeagueGothicRegular/LeagueGothicRegular.woff') format('woff'),
		url('../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSansLight/OpenSans-Light.eot');
	src: url('../fonts/OpenSansLight/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansLight/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSansLight/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Extrabold';
	src: url('../fonts/OpenSansExtrabold/OpenSans-Extrabold.eot');
	src: url('../fonts/OpenSansExtrabold/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansExtrabold/OpenSans-Extrabold.woff') format('woff'),
		url('../fonts/OpenSansExtrabold/OpenSans-Extrabold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/GeorgiaItalic/Georgia-Italic.eot');
	src: url('../fonts/GeorgiaItalic/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GeorgiaItalic/Georgia-Italic.woff') format('woff'),
		url('../fonts/GeorgiaItalic/Georgia-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}