* {
	margin: 0;
	padding: 0;
	box-sizing: none;
	text-decoration: none;
	list-style: none;
	font-family: Tahoma;
}

body {
	background-color: #FFC0CB;
}

.wrapper {
	display: flex;
	justify-content: center;

	&__inner {
		display: flex;
		flex-direction: column;
		width: 80%;
	}
}

.testTitle {
	text-align: center;
	color: #DC143C;
}

input {
	border-radius: 1rem;
	padding: .2rem;
	outline: none;
	font-size: 1.2rem;
	border: 1px solid #FF69B4;
	height: 2rem;
	margin-bottom: .3rem;
}

#add {
	align-self: flex-end;
	margin-right: 2rem;
	line-height: 2rem;
	width: 7rem;
	text-align: center;
	background-color: #970a02;
	color: #fecfcd;
	border-radius: .5rem;
	border: 1px solid #640602;
	
	&:hover {
		background-color: #640602;		
	}

	&:active {
		box-shadow: inset .1rem .1rem .1rem #0f0f0f;
	}
}

#testingButton {
	border: 1px solid #FF1493;
	border-radius:  1rem;
	cursor: pointer;
	background-color: #FF69B4;
	width: 10rem;
	line-height: 2rem;
	color: #fff;
	font-size: 1.2rem;
	outline: none;
	position: fixed;
	bottom: 1rem;
	right: 12%;

	&:hover {
		background-color: #FF1493;		
	}

	&:active {
		box-shadow: inset .1rem .1rem .1rem #C71585;
	}
}

.question {
	margin-top: .5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 12%;
}

.q-number {
	color: #C71585;
	margin-bottom: .5rem;
}

.inner-q-title {
	color: #191970;
	font-size: 1.3rem;
	margin-bottom: .5rem;
}

.inner-ask {
	.checkbox {
		width: 1rem;
		height: 1rem;
	}
	span {
		font-size: 1.2rem;
	}
}


#result {
	display: none;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 12rem;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: .7;
	border-radius: .5rem;
}

#modaleClose {
	text-align: right;
	position: absolute;
	right: .5rem;
	top: .3rem;
	font-size: 1rem;
	color: pink;
}

#modaleClose:hover {
	color: red;
	cursor: pointer;
}

#result-text {
	font-size: 2rem;
	text-shadow: .1rem .1rem .1rem red;
	color: pink;
}