
/*===== ARIAL normal========*/

@font-face {
    font-family: 'fontarial';
    src: url('fonts/arial/ar-webfont.woff2') format('woff2'),
	url('fonts/arial/ar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*===== MaryadPro =========*/

@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "MyriadProRegular", sans-serif;
	font-size: 14px;
	background-image: url("img/background.jpg");
	background-color: #F4F4F4;
	color: #3b3b3b;
}

/*=========== "headline gjs begin " =============*/

h3 {
	font-size: 18px;
	font-weight: bold;
	color: #1f1f1f;
	padding: 21px 0 30px 4px;
}

/*=========== "headlines END " =============*/

.header, .why, .contacts {
	border-bottom: 1px solid #C5C7C8;
}

/*========== "WRAPPER begin" =============*/

.wrapper {
	width: 502px;
	margin: 0 auto;
}

/*========== "WRAPPER END" =============*/

/*========= " Name and Photo begin" ===========*/

.header h1 {
	font-family: 'fontarial', sans-serif;
/*	font: bold 36px 'arial', sans-serif;*/
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	padding: 50px 0 30px;
	color: #1f1f1f;
}
.header img {
	max-width: 200px;
	max-height: 200px;
	margin: 0 151px;
}
.header span {
	font-family: 'fontarial' sans-serif;
	display: inline-block;
	padding: 23px 0 20px 4px;
}

/*========= " Name and Photo END" ===========*/

/*========== " VK and Mob begin" ============*/

.contacts span {
	padding-left: 38px;
}

/*========== " VK and Mob END" ============*/

/*========= "Space for contents begin " =============*/

.space {
	display: inline-block;
	padding: 0 0 21px 38px; 
}

/*========= "Space for contents END " =============*/

/* ==========="VK.COM begin" ========== */

.vk {
	color: #0056d3;
}

/* ==========="VK.COM END" ========== */
