.substrate-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  min-width: 65rem;
  max-width: 100%;
  color: #162673;
  padding: .5rem;

  .contact-phone {
    font-family: $treb-b;
    font-size: 1.18rem;
    display: inline-block;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-right: 1.2rem;

    .tel {
      color: #061769;
    }
  }

  .contact-icon {
    &__email {
      background: url("../img/nav-icons.png") 0 0 no-repeat;
      width: 26px;
      height: 26px;
      display: inline-block;
      margin-right: .5rem;
    }

    &__tube {
      @extend .contact-icon__email;
      background-position: -34px 0;
    }

    &__play {
      @extend .contact-icon__email;
      background-position: -70px 0;
    }

    &__note {
      @extend .contact-icon__email;
      background-position: -105px 0;
    }
  }
}

.nav {
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: .75rem;

  &__list {
    display: flex;
    text-transform: uppercase;
  }

  &__item {
    align-self: flex-start;
    margin-left: 2rem;

    &:first-child {
      margin-left: 1rem;
    }
  }

  &__link {
    font-family: $treb;
    color: #313861;

    &:hover {
      color: #95989a;
      transition: .1s all;
    }

    &:active {
      color: #981212;
    }
  }
}

.language {
  position: absolute;
  right: 0;
  top: .3rem;

  &__ru {
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url("../img/ru-icon.png") no-repeat;
  }

  &__eng {
    @extend .language__ru;
    background: url("../img/en-icon.png") no-repeat;
  }
}
