* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  background-color: #443F3F;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
}

.timer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

#start {
  width: 9rem;
  height: 3.5rem;
  color: #FFEE9A;
  outline: none;
  font-size: 2rem;
  border: none;
  background-color: #7B480B;
  border: .1rem solid #620A00;
  cursor: pointer;
}

#stop {
  width: 9rem;
  height: 3.5rem;
  color: #FFEE9A;
  outline: none;
  font-size: 2rem;
  border: none;
  background-color: #7B480B;
  border: .1rem solid #620A00;
  cursor: pointer;
}

.clock {
  width: 8rem;
  display: inline-block;
  border: .2rem solid #7B480B;
  color: #F56800;
  background-color: #FFEE9A;
}
