//==========COLORS

$colRed: #ff4e50;
$colWhite: #ffffff;
$colBlack: #333333;
$colGrey: #666666;
$colRedIcon: #ff4e50;
$colYellowIcon: #ffa507;
$colGreenIcon: #1cd7ad;
$colBlueIcon: #4e73db;
$colInput: #cccccc;

//==========SIZE

$maxGenWhits: 960px;
$genPadding: 10px;