@font-face {
    font-family: 'Oswald';
    src: url('Oswald-RegularItalic.woff2') format('woff2'),
        url('Oswald-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

