*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #d6eaff;
  font-family: sans-serif;
  line-height: 1.3rem;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  width: 45%;
  border: .1rem solid #ccdbea;
  height: 30rem;
  padding: 1rem;
}

.tab {
  padding: 1rem;
  margin-left: .5rem;
  border-top: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
  background: #f6f6f6;
  color: #000;
  display: inline-block;
  width: 7rem;
  text-align: center;

  &-menu {
    background-color: #e9e9e9;
    padding-top: .5rem;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
  }

  &-content {
    background-color: #e9e9e9;
    padding: 1rem;
    height: 20rem;
    overflow-y: scroll;
    border: 1px solid #007fff;
  }
}

.active {
  background: #007fff;
  border-right: 1px solid #003eff;
  border-left: 1px solid #003eff;
  border-top: 1px solid #003eff;
  border-bottom: inherit;
  color: #fff;
}

#nextForm {
  margin-top: 1rem;
  align-self: flex-end;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  outline: none;
  background-color: #007fff;
  border: 1px solid #003eff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;

  &:hover {
    background-color: #0065ca;
    color: #fefefe;
  }

  &:focus {
    color: #9bff96;
  }
}

/*========FORM==========*/

.substrate-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  width: 100vw;
}

.form__content {
  width: 55vw;
  border: 2px solid #ccdbea;
  padding: 2rem;
  background-color: #f6f6f6;
}

.form__item {
  display: flex;
  flex-direction: row;
}

.form__firstname,
.form__lastname,
.form__address {
  width: 13rem;
  height: 3.5rem;
  text-align: left;
  padding: .4rem 0;
  line-height: 2.5rem;
  font-size: 2.5rem;
}

.form__input {
  width: 15rem;
  margin-top: .8rem;
  height: 2.2rem;
}

.hint {
  font-size: 1.2rem;
  height: 2.5rem;
  line-height: 2rem;
  background-color: #007fff;
  color: #fff;
  display: none;
  opacity: .7;
  box-shadow: 0 .1rem .8rem #000;
  margin: .7rem 0 0 1rem;
  border: 1px solid #003eff;
  padding: .3rem;
}

#showHelp {
  border: 1px solid #003eff;
  background-color: #007fff;
  color: #fff;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-start;
  margin: 1rem;
}
