html {
	min-height: 100%;
}

body {
	min-height: 100%;
}

.header {
	@include clearfix;
	min-width: 320px;
	max-width: 960px;
	width: 100%;
	text-align: center;

	&__slider {
		margin-top: 180px;

		@include adaptive(media480) {
			margin-top: 27px;
		}
		@include adaptive(media768) {
			margin-top: 84px;
		}
	}

	&__logo {
	display: inline-block;
	margin-top: 69px;

		@include adaptive(media768) {
			float: left;
			margin-left: 20px;
		}

		@include adaptive(media960) {
			float: left;
		}
	}

	&__menu {
		margin: 25px auto 0;

		@include adaptive(media768) {
			margin: 130px 0 0 20px;
		}

		@include adaptive(media960) {
			display: inline-block;
			margin: 70px 0 0 151px;
		}
	}
}

.nav-menu {
	position: relative;

	&__list--horizontal {
		display: none;
		text-align: left;

		@include adaptive(media768) {
			display: block;
		}
		@include adaptive(media960) {
			display: block;
		}
	}

	&__item {
		list-style: none;
		text-transform: uppercase;
		font-family: $league;
		display: inline-block;

		&--horizontal {
			text-shadow: 1px 2px 2px rgba(0,0,0,.4);
			@include adaptive(media768) {
				margin-right: 50px;
			}

			@include adaptive(media960) {
				margin-right: 40px;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: #fff;
		font-size: 20px;

		&--horizontal {
			@include adaptive(media768) {
				font-size: 24px;
				padding-bottom: 2px;

				&:hover {
					border-bottom: 2px solid #edbfff;
				}
			}

			@include adaptive(media960) {
				font-size: 24px;
				padding-bottom: 2px;

				&:hover {
					border-bottom: 2px solid #edbfff;
				}
			}
		}
	}

	&:hover &__list--vertical {
    display: block;

    @include adaptive(media768) {
    	display: none;
    }
    @include adaptive(media960) {
    	display: none;
    }
  }

  &:hover &__drop {
		opacity: 0;
  }

	&__list--vertical {
		display: none;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
		max-width: 100%*240px/100%;
		background-color: rgba(#36293e, 0.9);
		border-radius: 4%;
		box-shadow: 0 3px 5px rgba(0,0,0,.2);
		border: solid 1px #051116;
		overflow: hidden;
	}

	&__drop {
		font-family: $league;
		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 0 0 10px rgba(255,255,255,.6);
		border-bottom: 2px solid #edbfff;
		display: inline-block;
		padding: 9px 6px 0;
		
		@include adaptive(media768) {
			display: none;
		}
		@include adaptive(media960) {
			display: none;
		}
	}

	&__item--vertical {
		position: relative;
		list-style: none;
		width: 100%;

				&:after {
				content: '';
				height: 45px;
				display: inline-block;
				position: absolute;
				right: 0;
				left: 0;
				border-top: 1px solid #5f486a;
			}

				&:before {
				content: '';
				height: 44px;
				display: inline-block;
				position: absolute;
				right: 0;
				left: 0;
				border-bottom: 1px solid #37293f;
			}
	}

	&__link--vertical {
		font-size: 24px;
		position: relative;
		line-height: 45px;
		display: flex;
		justify-content: center;

			&:hover {
				line-height: 45px;
				background-color: rgba(#000000, 0.3);
				transition: .3s all;

				&:before {
					content: '';
					height: 42px;
					display: inline-block;
					position: absolute;
					right: 0;
					left: 0;
					border-bottom: 2px solid #edbfff;
					transition: .3s all;
				}
			}

				&:before {
					content: '';
					height: 42px;
					display: inline-block;
					position: absolute;
					right: 0;
					left: 0;
					border-bottom: 2px solid transparent;
			}
	}
		&__link-drop {
			text-shadow: 0 0 10px rgba(255,255,255,.6);

			&:hover:before {
				content:'';
				border-bottom: 2px solid #edbfff;
			}
		}
}

/*===HEADER-SLIDER===*/
.slider {
	position: relative;

	&__substrate {
		@include adaptive(media480) {
			background-color: rgba(0,0,0,.2);
			min-height: 245px;
			max-height: 245px;
		}

		@include adaptive (media768) {
			background-color: rgba(0,0,0,.2);
			min-height: 400px;
			max-height: 400px;
		}

		@include adaptive (media960) {
			background-color: rgba(0,0,0,.2);
			min-height: 400px;
			max-height: 400px;
		}
	}

	&__control--next {
		position: absolute;
		right: 0;
		top: 5px;
		display: inline-block;
		width: 28px;
		height: 38px;
		background-image: url("../img/sprite/arrows.png");
		background-position: 30px -3px;
		cursor: pointer;

		@include adaptive(media480) {
			top: 105px;
		}

		@include adaptive(media768) {
			top: 170px;
		}

		@include adaptive(media960) {
			top: 170px;
		}

		&:hover {
			background-image: url("../img/sprite/arrows.png");
			background-position: 30px -43px;
		}
	}

	&__control--prev {
		position: absolute;
		left: 0;
		top: 5px;
		display: inline-block;
		width: 28px;
		height: 38px;
		background-image: url("../img/sprite/arrows.png");
		background-position: 0 -3px;
		cursor: pointer;

		@include adaptive(media480) {
			top: 105px;
		}

		@include adaptive(media768) {
			top: 170px;
		}

		@include adaptive(media960) {
			top: 170px;
		}

		&:hover {
			background-image: url("../img/sprite/arrows.png");
			background-position: 0 -43px;
		}		
	}

	&__bullets {
		margin-top: 75px;

		@include adaptive(media480) {
			margin-top: 22px;
		}

		@include adaptive(media768) {
			margin-top: 38px;
			text-align: right;
			margin-right: 128px;
			margin-bottom: 37px;
		}

		@include adaptive(media960) {
			margin-top: 95px;
			text-align: right;
			margin-right: 160px;
		}
	}
}

.slide {
	list-style: none;
	font-family: $league;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);


	&__heading {
		font-size: 36px;
		font-weight: 300;
		line-height: 36px;
		color: #fefefe;
		padding-bottom: 2px;


		@include adaptive(media480) {
			text-align: left;
			padding-left: 100%*35px/480px;
			padding-top: 90px;
		}

		@include adaptive(media768) {
			font-size: 48px;
			line-height: 48px;
			text-align: left;
			margin-left: 100%*40px/768px;
			padding-top: 82px;
		}

		@include adaptive(media960) {
			font-size: 60px;
			line-height: 48px;
			text-align: left;
			margin-left: 100%*40px/960px;
			padding-top: 82px;
		}
	}

	&__aditional {
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		max-height: 24px*1;
		max-width: 210px;
		overflow: hidden;
		color: #edbfff;
		text-transform: uppercase;
		margin-left: 100%*65px/320px;
		text-align: center;

		@include adaptive(media480) {
			margin-left: 100%*35px/480px;
		}

		@include adaptive(media768) {
			font-size: 24px;
			text-align: left;
			margin-left: 40px;
			min-width: 300px;
		}

		@include adaptive(media960) {
			font-size: 32px;
			line-height: 34px;
			max-height: 34px*1;
			text-align: left;
			margin-left: 40px;
			min-width: 300px;
		}
	}

	&__description {
		display: none;
		font-family: $osl;
		font-size: 18px;
		line-height: 24px;
		color: #fff;

		@include adaptive(media768) {
			display: block;
			max-width: 290px;
			margin-top: 12px;
			margin-left: 40px;
			text-align: left;
			line-height: 27px;
			max-height: 27px*4;
			overflow: hidden;
		}

		@include adaptive(media960) {
			display: block;
			max-width: 500px;
			margin-top: 12px;
			margin-left: 40px;
			text-align: left;
			line-height: 27px;
			max-height: 27px*6;
			overflow: hidden;
		}
	}

	&__image {
		display: none;

		@include adaptive(media480) {
			display: block;
			max-width: 190px;
			position: absolute;
			top: -10px;
			right: 100%*35px/480px;
		}

		@include adaptive(media768) {
			display: block;
			position: absolute;
			top: -20px;
			right: 100%*35px/480px;
		}

		@include adaptive(media960) {
			display: block;
			position: absolute;
			top: -20px;
			right: 100%*35px/480px;
		}
	}

	&__ico--play {
		display: none;
		position: absolute;
		top: 80px;
		right: 100%*62px/480px;
		width: 76px;
		height: 75px;
		cursor: pointer;
		background: url("../img/sprite/play-button.png") 0 0;

		&:hover {
			background: url("../img/sprite/play-button.png") 0px 150px;
		}

		&:active {
			background: url("../img/sprite/play-button.png") 0px 76px;
		}
		@include adaptive(media480) {
			display: inline-block;
		}

		@include adaptive(media768) {
			display: inline-block;
			top: 130px;
			right: 100%*118px/768px;
		}

		@include adaptive(media960) {
			display: inline-block;
			top: 130px;
			right: 100%*110px/768px;
		}
	}
}

.bullets {
	&__item {
		position: relative;
		display: inline-block;
		width: 17px;
		height: 17px;
		background-color: rgba(0,0,0,.3);
		border-radius: 50%;
		margin-left: 100%*5px/320px;
		cursor: pointer;

		@include adaptive(media480) {
			margin-left: 100%*5px/480px;
		}

		@include adaptive(media768) {
			margin-left: 100%*4px/768px;
		}

		@include adaptive(media960) {
			margin-left: 100%*4px/960px;
		}

		&--active {
			position: relative;
			display: inline-block;
			&:after {
				content: '';
				position: absolute;
				left: 3px;
				top: 3px;
				display: inline-block;
				box-shadow: 0 0 5px rgba(0,0,0,.8);
				border: solid 1px #fff;
				border-radius: 50%;
				background-image: linear-gradient(to top, #d4d4d4, #fff);
				width: 9px;
				height: 9px;
			}
		}
	}
}










