.substrate {
	display: flex;
	flex-direction: column;
	align-items: center;

	&--header {
		padding-bottom: 60px;
		border-bottom: 1px solid #35273c;
		background: url("../img/mountains-top.jpg")  no-repeat center top;
	}

	&--about {
		padding-bottom: 80px;
		border-bottom: 1px solid #12191f;
		background-image: linear-gradient(to top, #322539, #745083);
	}

	&--update {
		padding-bottom: 20px;
		border-top: 1px solid #f9f9f9;
        background: linear-gradient(to bottom, rgba(215,215,215,1) 0%, rgba(230,230,230,1) 4%, rgba(249,249,249,1) 100%);
		box-shadow: 0 5px 8px #6a676b;
	}

	&--news {
		display: none;
	}

	&--footer {
		background-image: url("../img/mountains-bottom.jpg");
	}
}