.substrate {
	display: flex;
	flex-direction: column;
	align-items: center;

	&--header {
		padding-bottom: 67px;
		border-bottom: 1px solid #35273c;
		background: url("../img/mountains-top.jpg")  no-repeat center top;

		@include adaptive(media960) {
			padding-bottom: 215px;
		}

		@include adaptive(media480) {
			padding-bottom: 100px;
		}

		@include adaptive(media768) {
			padding-bottom: 158px;
		}
	}

	&--about {
		border-bottom: 1px solid #12191f;
		background-image: linear-gradient(to top, #322539, #745083);
	}

	&--update {
		padding-bottom: 20px;
		border-top: 1px solid #f9f9f9;
		border-bottom: 1px solid #fefefe;
        background: linear-gradient(to bottom, rgba(215,215,215,1) 0%, rgba(230,230,230,1) 4%, rgba(249,249,249,1) 100%);
		box-shadow: 0 5px 8px #6a676b;

		@include adaptive(media480) {
			box-shadow: none;
		}
	}

	&--news {
		display: none;
		background-color: #ececec;
		border-top: 1px solid #d8d8d8;

		@include adaptive(media480) {
			display: block;
			padding-bottom: 85px;
		}

		@include adaptive(media768) {
			display: block;
			padding-bottom: 85px;
		}

		@include adaptive(media960) {
			display: block;
			padding-bottom: 85px;
		}
	}

	&--footer {
		padding-bottom: 60px;
		background: url("../img/mountains-bottom.jpg") no-repeat center top;

		@include adaptive(media960) {
			padding-bottom: 35px;
		}
	}
}
