.pingbuller-updates {
	max-width: 320px;
	text-align: center;
	@include clearfix;

}

.starts-here {
	position: relative;


	&__photo {
		position: absolute;
		left: 100%*20px/320px;
		top: 85px;
	}

	&__head {
		position: relative;
		font-family: $league;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 24px;
		color: #454545;
		max-height: 24px*2;
		text-align: left;
		padding-top: 95px;
		padding-left: 100%*80px/320px;

		&--color {
			color: #edbfff;
			letter-spacing: .5px;
		}
	}

	&__text {
		position: relative;
		font-family: $osl;
		font-size: 16px;
		line-height: 24px;
		color: #454545;
		max-width: 100%*180px/320px;
		max-height: 24px*7;
		overflow: hidden;
		text-align: left;
		margin-top: 50px;
		margin-left: 100%*80px/320px;
		z-index: 2;
	}

	&:before {
		content:'';
		display: inline-block;
		position: absolute;
		left: 100%*44px/320px;
		top: 69px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,.05);
		width: 100%*257px/320px;
		min-height: 270px;
	}
}

.pingbuller__bullets {
	margin-top: 55px;

	.bullets__item {
		border: solid 1px #e6e6e6;
		background-color: #fff;
	}

	.bullets__item--active {

		&:after {
			content: '';
			position: absolute;
			left: 2px;
			right: 2px;
			top: 2px;
			display: inline-block;
			border: solid 1px #454545;
			background-image: linear-gradient(to top, #454545, #6a6a6a);
			width: 10px;
			height: 10px;
		}
	}
}

.recent-updates {
	@include clearfix;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 90px;

	&__item {
		margin-top: 50px;
	}

	&__head {
		font-family: $league;
		font-size: 30px;
		line-height: 24px;
		text-transform: uppercase;
		color: #454545;
		text-align: left;
		margin-left: 100%*20px/320px;
	}

	&__article {
		margin-top: 18px;
	}

	&__ico {
		width: 49px;
		height: 49px;
		display: inline-block;
		float: left;
		margin-left: 100%*20px/320px;

		&--nunc {
			background: url("../img/sprite/circle.png") no-repeat;
		}

		&--turpis {
			background: url("../img/sprite/circle.png") no-repeat center center;
		}

		&--neque {
			background: url("../img/sprite/circle.png") no-repeat center right;
		}
	}

	&__title {
		font-family: $oseb;
		font-size: 16px;
		line-height: 24px;
		color: #454545;
		max-height: 24px*1;
		max-width: 100%*155px/320px;
		margin-left: 100%*86px/320px;
		overflow: hidden;
	}

	&__text {
		font-family: $osl;
		font-size: 16px;
		line-height: 24px;
		color: #454545;
		max-height: 24px*1;
		overflow: hidden;
	}

	&__link {
		font-size: 18px;
		line-height: 24px;
		color: #454545;
		float: right;
		margin-right: 100%*20px/320px;
		margin-top: 25px;
			&:hover {
				text-shadow: 0 0 8px rgba(216,182,182,.8);
				color: #5b5757;
			}
	}
}

/*===BRENDS-LOGO===*/
.brands-logo {
	max-width: 320px;
	border-top: 1px solid #fefefe;
	padding-top: 70px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;


	&__list {
		margin-bottom: 45px;
	}

	&__link {
		text-decoration: none;
	}

	&__ico {
		display: inline-block;
		background-image: url("../img/sprite/logo-brand.png");
		height: 65px;
		margin: 0 25px 0;


		&-1 {
			width: 70px;
			background-position: 0 0;
		}

		&-2 {
			width: 70px;
			background-position: -70px 0;
		}
		
		&-3 {
			width: 68px;
			background-position: -143px 0;
		}
		
		&-4 {
			width: 53px;
			background-position: -210px 0;
		}
		
		&-5 {
			width: 105px;
			background-position: -262px 0;
		}
		
		&-6 {
			width: 81px;
			background-position: -366px 0;
		}
	}
}













