.pingbuller-updates {
	min-width: 320px;
	max-width: 960px;
	width: 100%;
	text-align: center;

	&__slider {
		display: inline-block;
		margin-top: 65px;

		@include adaptive(media768) {
			max-width: 335px;
		}

		@include adaptive(media960) {
			max-width: 425px;
		}
	}

	@include adaptive(media768) {
		display: flex;
		border-bottom: 1px solid #e6e6e6;
	}

	@include adaptive(media960) {
		display: flex;
		border-bottom: 1px solid #e6e6e6;
	}

}

.slide-content {
position: relative;
margin-left: 47px;

@include adaptive(media480) {
	margin-left: 40px;
}

@include adaptive(media960) {
	margin-left: 25px;
}

	&__photo {
		position: absolute;
		top: 20px;
		left: -25px;
		z-index: 1;
	}

	&__body {
		position: relative;
		max-width: 100%*285px/320px;
		display: flex;
		flex-direction: column;
		padding: 25px 25px 30px 35px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,.05);

		@include adaptive(media480) {
			min-width: 100%*416px/480px;
			padding: 25px 25px 30px 30px;		
		}

		@include adaptive(media768) {
			min-width: 100%*335px/768px;
			padding: 25px 25px 30px 30px;	
		}

		@include adaptive(media960) {
			min-width: 100%*335px/768px;
			padding: 25px 25px 30px 30px;	

			&:after {
				content:'';
				display: inline;
				width: 20px;
				height: 20px;
				position: absolute;
				bottom: -20px;
				right: 40px;
				background: url("../img/triangle.png") center center;
			}
		}
	}

	&__head {
		text-align: left;
		display: inline-block;
		font-family: $league;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 24px;
		color: #454545;
		font-weight: 300;

		@include adaptive(media480) {
			font-size: 30px;
			padding-bottom: 10px;
			padding-top: 10px;
		}

		@include adaptive(media960) {
			font-size: 30px;
			padding-bottom: 10px;
			padding-top: 10px;
		}



		&--color {
			color: #edbfff;
			letter-spacing: .5px;

			@include adaptive(media480) {
				display: inline;
			}

			@include adaptive(media960) {
				display: inline;
			}
		}
	}

	&__text {
		padding-top: 5px;
		font-family: $osl;
		font-size: 16px;
		line-height: 24px;
		color: #454545;
		max-width: 100%;
		max-height: 24px*7;
		overflow: hidden;
		text-align: left;

		@include adaptive(media480) {
			min-width: 100%*335px/480px;
		}

		@include adaptive(media768) {
			max-height: 24px*6;
		}

		@include adaptive(media960) {
			max-height: 24px*7;
		}
	}
}


.pingbuller__bullets {
	margin-top: 55px;

	@include adaptive(media480) {
		margin-top: 25px;
	}
	@include adaptive(media768) {
		margin-top: 23px;
	}

	@include adaptive(media960) {
		margin-top: 22px;
	}

	.bullets__item {
		border: solid 1px #e6e6e6;
		background-color: #fff;
	}

	.bullets__item--active {

		&:after {
			content: '';
			position: absolute;
			left: 2px;
			right: 2px;
			top: 2px;
			display: inline-block;
			border: solid 1px #454545;
			background-image: linear-gradient(to top, #454545, #6a6a6a);
			width: 10px;
			height: 10px;
		}
	}
}

.recent-updates {
	@include clearfix;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 90px;
		
	@include adaptive(media768) {
		margin-top: 35px;
		padding-bottom: 50px;
		border-bottom: none;
	}

	@include adaptive(media960) {
		margin-top: 44px;
		padding-bottom: 60px;
		border-bottom: none;
	}

	&__item {
		margin-top: 50px;

		@include adaptive(media480) {
			margin-left: 100%*40px/320px;
		}

		@include adaptive(media768) {
			margin-left: 100%*40px/768px;
		}
	}

	&__head {
		font-family: $league;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		color: #454545;
		text-align: left;
		margin-left: 100%*20px/320px;
	}

	&__article {
		margin-top: 18px;
		text-align: left;

		@include adaptive(media768) {
			margin-top: 15px;
		}

		@include adaptive(media960) {
			margin-top: 15px;
			min-width: 500px;
		}
	}

	&__ico {
		width: 49px;
		height: 49px;
		display: inline-block;
		float: left;
		margin-left: 100%*20px/320px;

		&--nunc {
			background: url("../img/sprite/circle.png") no-repeat;
		}

		&--turpis {
			background: url("../img/sprite/circle.png") no-repeat center center;
		}

		&--neque {
			background: url("../img/sprite/circle.png") no-repeat center right;
		}
	}

	&__title {
		font-family: $oseb;
		font-size: 16px;
		line-height: 24px;
		color: #454545;
		max-height: 24px*1;
		max-width: 100%*200px/320px;
		padding-left: 100%*18px/320px;
		overflow: hidden;

		@include adaptive(media768) {
			max-width: 100%*230px/320px;
		}

		@include adaptive(media960) {
			max-width: 100%*230px/320px;
		}
	}

	&__text {
		font-family: $osl;
		font-size: 16px;
		line-height: 24px;
		color: #454545;
		max-height: 24px*1;
		overflow: hidden;
		padding-left: 100%*18px/320px;

		@include adaptive(media480) {
			max-width: 100%*200px/320px;
		}	

	}

	&__link {
		font-size: 18px;
		line-height: 24px;
		color: #454545;
		float: right;
		margin-right: 100%*20px/320px;
		margin-top: 25px;

		@include adaptive(media480) {
			margin-right: 100%*60px/480px;
		}

			&:hover {
				text-shadow: 0 0 8px rgba(216,182,182,.8);
				color: #5b5757;
			}

		@include adaptive(media960) {
			margin-right: 100%*15px/480px;
		}

			&:hover {
				text-shadow: 0 0 8px rgba(216,182,182,.8);
				color: #5b5757;
			}
	}
}

/*===BRENDS-LOGO===*/
.brands-logo {
	border-top: 1px solid #fefefe;
	padding-top: 70px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;

	@include adaptive(media480) {
		padding-right: 100%*30px/480px;
		padding-left: 100%*30px/480px;
	}

	&__list {
		margin-bottom: 45px;
	}

	&__link {
		text-decoration: none;
	}

	&__ico {
		display: inline-block;
		background-image: url("../img/sprite/logo-brand.png");
		height: 65px;
		margin: 0 25px 0;


		&-1 {
			width: 70px;
			background-position: 0 0;
		}

		&-2 {
			width: 70px;
			background-position: -70px 0;
		}
		
		&-3 {
			width: 68px;
			background-position: -143px 0;
		}
		
		&-4 {
			width: 53px;
			background-position: -210px 0;
		}
		
		&-5 {
			width: 105px;
			background-position: -262px 0;
		}
		
		&-6 {
			width: 81px;
			background-position: -366px 0;
		}
	}
}













