@font-face {
	font-family: 'Trebuchet-regular';
	src: url('../fonts/TrebuchetMS-Regular/TrebuchetMS.eot');
	src: url('../fonts/TrebuchetMS-Regular/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrebuchetMS-Regular/TrebuchetMS.woff') format('woff'),
		url('../fonts/TrebuchetMS-Regular/TrebuchetMS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trebuchet-bold';
	src: url('../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.eot');
	src: url('../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.woff') format('woff'),
		url('../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
