body {
	background-color: #010000;
}
.wrapper {
	width: 960px;
	height: 883px;
	margin: 0 auto;
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: content;
	font-family: 'Tahoma_R';
	font-size: 0;
	color: #fff;
}
.content {
	width: 818px;
	margin: 0 auto;
}
	/*===HEADER===*/
.logo-contact {
	position: relative;
	height: 204px;
	font-size: 10.16px;
}
.logo {
	position: absolute;
	top: 131px;
}
.palm {
	position: absolute;
	top: 57px;
	left: 143px;
	opacity: 0.15;
}
.asia {
	position: absolute;
	top: 178px;
	left: 86px;
}
.contacts {
	position: absolute;
	top: 153px;
	right: 12px;
}
.number, .email {
	position: relative;
	top: 7px;
	font-size: 8.47px;
}
/*===COUNTRIES===*/
.countries {
	width: 858px;
	height: 428px;
}
.tile {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 55px;
}
.tile img{
	width: 256px;
	height: 178px;
	box-sizing: border-box;
	border: 7px solid blue;
	border-image: url(../img/border.png) 7 round round;
}
.countries  p {
	font-size: 15.24px;
	text-align: center;
}
.countries p > a {
	text-decoration: none;
	color: #fff;
}
.countries p > a:hover{
	color: #9A9A9A;
}

/*===FOOTER - Copyright ===*/
.copyright {
	display: block;
	margin-top: 208px;
	font-size: 10.16px;
	text-align: center;
}











